/* main related style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
}

.banner {
    background-image: url('../media/happy\ Banner.png');
    background-position: top;
    background-repeat: no-repeat;
    margin: 50px 100px 100px;

}

.happy-new-year {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 180px;
}

.happy-new-year-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* width: 600px; */
    padding-left: 340px;
    padding-right: 350px;
    padding-bottom: 180px;

}

/* offer section related style */
.sec-two {
    text-align: center;
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.holiday-off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 4px;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 40px;
}

.new-year-pic {
    width: 802.9px;
    height: 500px;
    margin-top: 0px;
    /* margin-bottom: 150px; */
}

/* night party section style */
.night-party-container {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    background-image: url('../media/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 10px;
    margin: 140px;
    padding: 0 150px;

}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    width: 642px;
    padding-top: 100px;
    margin-bottom: 30px;

}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 700px;
    margin-top: 0;
    margin-bottom: 24;
}

.join-now {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    border: none;
    padding-top: 50px;
}

.night-party-container .party-pic {
    width: 320px;
    height: 400px;
    /* margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 200px; */
    padding: 60px 140px 60px 0px
}

/* address section styles */
.address-section {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0px 180px 80px;

}

.address-info {
    text-align: center;
    padding: 100px 285px 215px;
    line-height: 36px;
}

.address-info>h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}

.address-span {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.address-btn {
    padding: 16px 32px;

    border: none;
    border-radius: 10px;
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}


/* new offer section's styles */
.new-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px 100px;
}

.new-offer-sec {
    margin-right: 80px;
}

.new-offer-sec1 {
    margin-left: 80px;
}

.new-offer-info {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;

}

.new-offer-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 20px;

}

.new-offer-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 400px;
}

.new-offer-img {
    border-radius: 463px;
    border: 15px solid #F00;
    width: 300px;
    height: 300px;
    padding: 30px;
}

.new-offer-24 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
}

.new-offer-24-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin-bottom: 40px;

}


/* portfolio related style */
.portfoli {
    margin: 0px 130px 100px;
}

.protfolio-container {
    /* padding: 0 140px; */
    padding-left: 70px;
    

}

.portfolio-info {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.portfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 20px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    margin-top: 0px;
    padding-bottom: 50px;
}

.portfolio-pics-3,
.portfolio-pics-6 {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.portfolio-pics-3,
.portfolio-pics-6:hover {
    cursor: pointer;

}

/* Newsletter section styles */
.newsletter-section {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0px 180px 100px;
    text-align: center;
}

.email-icon {
    padding-top: 70px;
    padding-bottom: 0px;
}

.newslatter-sub {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-top: 20px;

}

.newsletter-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 40px;

}

.submit-form {
    padding-top: 0px;
    padding-bottom: 70px;
}

.email {
    width: 450px;
    height: 72px;
    border: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.submit {
    width: 210px;
    height: 72px;
    margin-left: 0px;
}

.submit-form {
    align-items: center;
}

.email[type="email"] {
    padding-left: 20px;
    border: none;
}

.submit {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

/* footer related styles */
footer {
    background: #070211;
}

.address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    width: 400px;
    padding-left: 80px;
    padding-top: 30px;
}

.phone {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: right;

}

.web {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: right;
    padding-top: 0px;


}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 100px;
}

.contact-info {
    padding-right: 240px;
}



.social-link {
    text-align: center;
    padding: 45px 0px;
}

.copy {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    background: transparent;
    border: none;
}

.copy-right {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    padding-bottom: 140px;
    padding-top: 80px;
}